// Theme
$primary: rgb(69, 129, 246);
$primary-light: #cfe0ddff;
$primary-light-200: #b4c4c1;
$accent: #59c1a7;
$red: #ce5257;
$white: #ffffff;
$dark: #2a2a2a;
$blue: #4581f6;
$navi: #002265;
$black: #07253c;
$text-color: #14279b;

$border-edit: rgba(69, 129, 246, 0.24);
$border-hover: rgba(89, 193, 167, 0.28);
$border-error: rgba(206, 82, 87, 0.32);

$bg-default: rgba(0, 0, 0, 0.15);
$bg-text-edit: rgba(69, 129, 246, 0.09);
$bg-text-hover: rgba(89, 193, 167, 0.15);
$bg-text-error: rgba(206, 82, 87, 0.19);
